
/* Hobbies */
 .Hobbies {
      display: grid;
      gap: 30px;
      padding: 60px 80px;
    }

 .Hobby {
      background: rgba(255, 255, 255, 0.05);
      border-radius: 19px;
      padding: 16px;
      text-align: center;
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      box-shadow: 0 0 20px rgba(0, 200, 255, 0.15);
      transition: all 0.3s ease;
      width: 1840px;
      margin: auto;
    }

    .img {
    text-align: center;
    width: 60%;
    max-width: 350px;
    
    
    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 30px;
      padding: 60px 80px;
    }
  }

  /* Buttons */
  
        .Uber {
        background-color: black;
        color: white;
        width: 100px;
        height: 36px;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        }

        .Uber:hover {
            opacity: 0.7;
        }