/* Head for ABout Pqnos centered */
.WebT {
text-align: center
}
/* for centering paragraphes*/
.Center {
     text-align: center
}
/* For containers */
.container {
 width: 65%; 
    max-width: 7000px; 
    background-color: rgb(28, 75, 102);
    margin: 20px auto; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 70px;
}
/* For background color */
.head {
     background-color: rgb(87, 142, 156);
}
/*Main Info */
.Maininfo {
     text-align: center;
}

