
     .CandL {
      text-align: center;
      text-align: left;
      margin-bottom: 15px;
      font-size: 1.5rem;
      text-shadow: 0 0 15px #00c8ff;
    }
    .cent {
      text-align: center;
    }
    
